*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-bg-color: honeydew;
  --calculator-bg-color: #268057;
  --buttons-bg-color: #00cc70;
  --history-bg-color: #268057;
  --history-box-bg-color: #c3ffc1;
}

/* SCROLLBAR */
/* FOR WEBKIT BASED (CHROME, SAFARI, OPERA GX etc) */
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background: hsl(120 50% 55%);
}

::-webkit-scrollbar-thumb {
  background: hsl(120 50% 35%);
  border-radius: 100vw;
}
/* FOR FIREFOX */
.history-container, p {
  scrollbar-width: thin;
  scrollbar-color: hsl(120 50% 35%) hsl(120 50% 55%);
}


body {
  height: 100vh;
  width: 100vw;
  padding: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--body-bg-color);
}

body * {
  flex: 0 1 auto;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* Calculator Container */
.calculator-container {
  background-color: var(--calculator-bg-color);
  width: 500px;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.display {
  background-color: var(--history-box-bg-color);
  margin: 20px 16px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display-text {
  max-width: 100%;
  font-size: 1.7rem;
  margin: 0;
}

.buttons-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 12px;
  gap: 4px;
}

.buttons {
  background-color: var(--buttons-bg-color);
  border: none;
  margin: 3px;
}

/* Buttons */

.buttons:hover {
  transition: 0.25s;
  filter: brightness(85%);
}

.buttons:active {
  transform: scale(0.925);
}

.operators_2:hover, #button_fact:hover {
  background-color: hsl(240 100% 75%);
}

#button_CE:hover, #button_AC:hover {
  background-color: hsl(0 100% 75%);
}

#button_open:hover, #button_close:hover {
  background-color: hsl(60 100% 75%);
}

#button_equals:hover {
  background-color: hsl(120 100% 75%);
}

/* History Container */
.history-container {
  background-color: var(--history-bg-color);
  width: 250px;
  height: 70vh;
  padding: 0.5% 1%;
  font-size: 1.3rem;
  vertical-align: bottom;
  overflow: auto;
}

p {
  font-size: 1.3rem;
  background-color: var(--history-box-bg-color);
  border-radius: 5px;
  text-align: end;
  margin-top: 3%;
  min-height: 2em;
  line-height: 2em;
  padding: 0 5%;
  white-space: nowrap;
  overflow-x: auto;
}

.history-container > p {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  position: sticky;
  border: 5px solid darkgreen;
  top: 0;
  padding: 0;
}